.SideDrawer{
    display:block;
    position: fixed;
    left:0;
    top:0;
    width:50%;
    height:100%;
    padding:5%;
    background: white;
    z-index: 200;
    transition: all 0.4s ease-out;
}
.Open{
    transform: translateX(0);
}

.Close{
    transform: translateX(-100%);
}
@media(min-width:800px){
    .SideDrawer{
        display:none
        }
}